<div id="detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Ver</h4>
            </div>
            <div class="modal-body">

                <div class="tab-content container">
                    <div class="tab-pane active" id="geral">
                        <div ng-include src="'views/legalForm/details_generic.html'"></div>
                    </div>

                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
