<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                
                <form>
                    <div class="form-group col-sm-12">
                        <label>Código de Validação</label>
                        <input type="text" class="form-control" ng-model="$parent.validationKey">
                    </div>

                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success btn-form" ng-click="validateEntity()">Validar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>