<div class="form-group col-sm-6">
    <label>Setor de Atividade Económica</label>
    {{display.entity.sector}}
</div>
<div class="form-group col-sm-6">
    <label>Situação</label>
    {{display.entity.situacaoEmpresa}}
</div>
<div class="form-group col-sm-6">
    <label>Data de Constituição</label>
    {{entity.data_constituicao | date}}
</div>
<div class="form-group col-sm-6">
    <label>Volume de Vendas</label>
    {{entity.volume_vendas}}
</div>
<div class="form-group col-sm-6">
    <label>Atividade Comercial</label>
    {{display.entity.actiComercial}}
</div>
<div class="form-group col-sm-6">
    <label>Contabilidade Empresa</label>
    {{display.entity.contabilidade}}
</div>
<div class="form-group col-sm-6">
    <label>Forma Jurídica</label>
    {{display.entity.formaJuridica}}
</div>

<div class="form-group col-sm-3">
    <label>Nº de Estabelecimentos</label>
    {{entity.numEstabelecimentos}}
</div>
<div class="form-group col-sm-3">
    <label>Capital Social</label>
    {{entity.capitalSocial}}
</div>
