<div class="form-group col-sm-6">
    <label>Código</label>
    {{province.codigo}}
</div>
<div class="form-group col-sm-6">
    <label>Designação</label>
    {{province.designacao}}
</div>
<div class="form-group col-sm-6">
    <label>País</label>
    {{province.pais.pais}}
</div>

<div class="form-group col-sm-6">
    <label>Sigla</label>
    {{province.sigla}}
</div>
<div class="form-group col-sm-6">
    <label>Estado</label>
    {{province.estado}}
</div>
<div class="form-group col-sm-6">
    <label>Data de criação</label>
    {{province.createdAt}}
</div>
<div class="form-group col-sm-6">
    <label>Última actualização</label>
    {{province.updatedAt}}
</div>
