<div class="form-group col-sm-6">
    <label>Número do Estabelecimento</label>
    {{commercialBuilding.numEstabelecimento}}
</div>
<div class="form-group col-sm-6">
    <label>Situação</label>
    {{commercialBuilding.situacaoEmpresa}}
</div>
<div class="form-group col-sm-6">
    <label>Volume de Vendas</label>
    {{commercialBuilding.volumeVendas}}
</div>
<div class="form-group col-sm-6">
    <label>Data de Constituição</label>
    {{display.commercialBuilding.data_constituicao}}
</div>
<div class="form-group col-sm-6">
    <label>Sede</label>
    {{commercialBuilding.sede}}
</div>

<div class="col-sm-12">
    <h3 class="page-header col-sm-12"><small class="text-info"><b>Nº de Pessoas ao Serviço</b></small></h3>

    <div class="form-group col-sm-4">
        <label>Total</label>
        {{commercialBuilding.numFunc}}
    </div>
    <div class="form-group col-sm-4">
        <label>Homens</label>
        {{commercialBuilding.numFuncHomem}}
    </div>
    <div class="form-group col-sm-4">
        <label>Mulheres</label>
        {{commercialBuilding.numFuncMulher}}
    </div>
</div>

<h3 class="page-header col-sm-12"><small class="text-info"><b>Morada e Contacto</b></small></h3>

<div class="form-group col-sm-6">
    <label>Endereço de Email</label>
    {{commercialBuilding.contacto.email}}
</div>
<div class="form-group col-sm-6">
    <label>Morada</label>
    {{commercialBuilding.contacto.morada}}
</div>
<div class="form-group col-sm-4">
    <label>Porta</label>
    {{commercialBuilding.contacto.porta}}
</div>
<div class="form-group col-sm-4">
    <label>Código Postal</label>
    {{commercialBuilding.contacto.codPostal}}
</div>
<div class="form-group col-sm-4">
    <label>País</label>
    {{display.commercialBuilding.contacto.pais}}
</div>
<div class="form-group col-sm-4">
    <label>Província</label>
    {{display.commercialBuilding.contacto.provincia}}
</div>
<div class="form-group col-sm-4">
    <label>Município</label>
    {{display.commercialBuilding.contacto.municipio}}
</div>
<div class="form-group col-sm-4">
    <label>Comuna</label>
    {{display.commercialBuilding.contacto.comuna}}
</div>
<div class="form-group col-sm-6">
    <label>Pessoa de Contacto</label>
    {{commercialBuilding.pessoa}}
</div>
<div class="form-group col-sm-6">
    <label>Tipo de Funcionario</label>
    {{display.commercialBuilding.tipo}}
</div>
<div class="form-group col-sm-4">
    <label>Telefone</label>
    {{commercialBuilding.contacto.telefone}}
</div>
<div class="form-group col-sm-4">
    <label>Telemóvel</label>
    {{commercialBuilding.contacto.telemovel}}
</div>
<div class="form-group col-sm-4">
    <label>Fax</label>
    {{commercialBuilding.contacto.fax}}
</div>
