<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">

                <form novalidate name="someform">

                    <div class="form-group col-sm-6">
                        <label>Código</label>
                        <input type="text" class="form-control" ng-required="$parent.appContext!='uni'" placeholder="" ng-model="county.codigo">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Designação</label>
                      <input type="text" class="form-control" ng-required="$parent.appContext!='uni'" placeholder="" ng-model="county.designacao" >
                    </div>
                    <div class="form-group col-sm-6">
                        <label>País</label>
                        <select class="form-control" ng-model="county.paisid" ng-change="getProvinces(county.paisid)">
                            <option ng-value="{{v.id}}" ng-repeat="v in countries">{{v.pais}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Província</label>
                        <select class="form-control" ng-required="$parent.appContext!='uni'" ng-model="county.provinciaid">
                            <option ng-value="{{v.id}}" ng-repeat="v in provinces">{{v.designacao}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Estado</label>
                        <select class="form-control" ng-required="$parent.appContext!='uni'" ng-model="county.estado">
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>

                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success btn-form" ng-click="create(page)">
                            {{page=='edit'?'Guardar':'Criar'}}
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
