<div class="form-group col-sm-6">
    <label>Código</label>
    {{county.codigo}}
</div>
<div class="form-group col-sm-6">
    <label>Designação</label>
    {{county.designacao}}
</div>
<div class="form-group col-sm-6">
    <label>País</label>
    {{county.provincia.pais.pais}}
</div>
<div class="form-group col-sm-6">
    <label>Província</label>
    {{county.provincia.designacao}}
</div>
<div class="form-group col-sm-6">
    <label>Sigla</label>
    {{county.provincia.sigla}}
</div>
<div class="form-group col-sm-6">
    <label>Estado</label>
    {{county.estado}}
</div>
<div class="form-group col-sm-6">
    <label>Data de criação</label>
    {{county.createdAt}}
</div>
<div class="form-group col-sm-6">
    <label>Última actualização</label>
    {{county.updatedAt}}
</div>
