<div class="form-group col-sm-6">
    <label>Código</label>
    {{commercialActivity.cac}}
</div>
<div class="form-group col-sm-6">
    <label>Designação</label>
    {{commercialActivity.cacDsg}}
</div>
<div class="form-group col-sm-6">
    <label>Data de criação</label>
    {{commercialActivity.createdAt}}
</div>
<div class="form-group col-sm-6">
    <label>Última actualização</label>
    {{commercialActivity.updatedAt}}
</div>
<div class="form-group col-sm-6">
    <label>Estado</label>
    {{commercialActivity.estado}}
</div>
