<div class="form-group col-sm-6">
    <label>Sector</label>
    {{economicSector.sector}}
</div>
<div class="form-group col-sm-6">
    <label>Designação</label>
    {{economicSector.sectorDsg}}
</div>
<div class="form-group col-sm-6">
    <label>Data de criação</label>
    {{economicSector.createdAt}}
</div>
<div class="form-group col-sm-6">
    <label>Última actualização</label>
    {{economicSector.updatedAt}}
</div>
<div class="form-group col-sm-6">
    <label>Estado</label>
    {{economicSector.estado}}
</div>
